@import "base.css";

/* Hero Banner Styling -------------------*/
.hero-banner {
    background: #000 url("../images/banner-back.jpg") center center / cover no-repeat;
    text-align: left;
    height: 100vh;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: #593d5588;
    display:flex;
}

